<style>
.bitcraft-color-picker .input-group-addon .picked-color {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

.bitcraft-color-picker > .input-group-addon {
    cursor: pointer;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.bitcraft-color-picker .popup {
    outline: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 300px;
}

.bitcraft-color-picker .popup .popup-tabs-content {
    margin-top: 0px;
}

.bitcraft-color-picker .popup .nav {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.bitcraft-color-picker .popup .nav > * {
    cursor: pointer;
    margin-right: 15px;
}

.bitcraft-color-picker .popup .nav > *:last-child {
    margin-right: 0;
}

.bitcraft-color-picker .popup .nav::before {
    content:none;
}

.bitcraft-color-picker .jquery-color-picker-container {
    display: flex;
    justify-content: center;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

.bitcraft-color-picker .popup .hidden {
    opacity: 0;
}

.bitcraft-color-picker .jquery-color-picker-container > .jQWCP-wWidget.jQWCP-block {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 !important;
}

.bitcraft-color-picker .jQWCP-wWheelOverlay {
    opacity: 0 !important;
}

.bitcraft-color-picker .standard-palette {
    text-align: center;
}

.bitcraft-color-picker .standard-palette-choice {
    user-select: none;
    display: inline-flex;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0.5px 3px #ccc;
    cursor: pointer;
}

.bitcraft-color-picker .standard-palette-choice::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.bitcraft-color-picker .rgb-component-input {
    margin: 10px 0 0 0;
    text-align: center;
}

.bitcraft-color-picker .rgb-component-input .input-group {
    max-width: 80px;
    margin: 0 2px;
}

.bitcraft-color-picker .rgb-component-input .input-group .input-group-addon {
    padding: 0 8px;
    user-select: none;
}

.bitcraft-color-picker .rgb-component-input .input-group .form-control {
    border-left-color: transparent;
    padding-left: 4px;
    padding-right: 5px;
    text-align: right;
}

.bitcraft-color-picker .rgb-component-input .red {
    color: #ffebee; /* 50 */
    background-color: #f44336; /* 500 */
    border-color: #c62828; /* 800 */
}

.bitcraft-color-picker .rgb-component-input .green {
    color: #e8f5e9; /* 50 */
    background-color: #4caf50; /* 500 */
    border-color: #2e7d32; /* 800 */
}

.bitcraft-color-picker .rgb-component-input .blue {
    color: #e3f2fd; /* 50 */
    background-color: #2196f3; /* 500 */
    border-color: #1565c0; /* 800 */
}

</style>

<div id="{{'color-picker-' + $id}}" class="input-group bitcraft-color-picker">
    <input id="{{'color-picker-input-' + $id}}" type="text" ng-model="$ctrl.ngModel" ng-change="$ctrl.updateModel()" class="form-control">
    <span id="{{'color-picker-preview-' + $id}}" ng-click="$ctrl.togglePopup()" class="input-group-addon"><i class="picked-color" ng-style="{backgroundColor: '#' + ngModel}"></i></span>

    <!-- TODO: reimplement using angular-bootstrap's popover component -->
    <div class="popup panel panel-default hidden" tabindex="0" ng-blur="$ctrl.togglePopup(true)">
        <div class="panel-body">
            <uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="{{'COLOR_PICKER.STANDARD_COLORS' | translate}}">
                    <div class="standard-palette">
                        <div ng-repeat="color in $ctrl.standardPalette" ng-click="$ctrl.updateModel(color)" class="standard-palette-choice" ng-style="{backgroundColor: color}">&nbsp;</div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="{{'COLOR_PICKER.CUSTOM_COLORS' | translate}}">
                    <div id="{{'jquery-color-picker-container-' + $parent.$parent.$id}}" class="jquery-color-picker-container">
                        <input type="text" ng-model="ngModel" ng-change="updateModel()" class="form-control">
                    </div>
                    <div class="rgb-component-input">
                        <div ng-repeat="colorComponent in ['red', 'green', 'blue']" class="input-group mb-3">
                            <span class="input-group-addon {{colorComponent}}">{{colorComponent[0].toUpperCase()}}</span>
                            <input class="form-control" type="number" min="0" max="255" ng-model="$ctrl.colorInput[colorComponent + 'Component']" ng-change="$ctrl.updateModelByRGBComponent()">
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
